{% extends "TheCometCultCommunityBundle::layout.html.twig" %}

{% set page_title = '' %}
{% set page_class = 'home' %}

{% block content %}
    <ul class="people">
        {% for member in members %}
            <li class="people__person">
                <article>
                    <figure class="image">
                        <img src="https://graph.facebook.com/{{ member.fbId|e('html_attr') }}/picture?width=400&amp;height=400"/>
                    </figure>
                    <div class="description">
                        <h3>{{ member.name }}, {{ member.age }}</h3>
                        <p class="job">{{ member.bio }}</p>
                        {% if member.websiteUrl %}
                        <p><a href="{{ member.websiteUrl }}">{{ member.websiteUrl }}</a></p>
                        {% endif %}
                        <p>{{ member.occupancy }}</p>
                        <p>From: {{ member.homeland }}</p>
                    </div>
                </article>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
