<section class="form">
    {% form_theme form 'TheCometCultCommunityBundle::form.html.twig' %}
    {{ form_start(form, {name: 'form-signup', attr: { class: 'wrapper', id: 'form-signup'}}) }}
        <fieldset class="connect-facebook">
            <div class="not-authorized">
                <label>Step 1</label>
                <button class="button" type="button">
                    <span class="ss-facebook"></span>Connect with Facebook
                </button>
            </div>
            <div class="authorized" style="display: none;">
                <label>Step 1</label>
                <img src="" class="fb-avatar">
                <p class="fb-info"><span class="fb-name"></span>, <span class="fb-age"></span></p>
                {{ form_widget(form.fbId) }}
                {{ form_widget(form.age) }}
                {{ form_widget(form.name) }}
            </div>
        </fieldset>
        <fieldset class="bio">
            {{ form_row(form.bio, { label: 'Step 2', attr: { placeholder: 'Write a brief bio, what do you do, where do you work, etc.' } }) }}
            {{ form_widget(form.websiteUrl, { attr: { placeholder: 'Your website/twitter/facebook (optional)' } }) }}
        </fieldset>
        <fieldset class="countries">
            {{ form_row(form.homeland, { label: 'Step 3', attr: { placeholder: 'Where are you from?'} }) }}
            {{ form_row(form.occupancy, { label: '', attr: { placeholder: 'Where do you live?'} }) }}
        </fieldset>
        <fieldset class="add-to-list">
            {{ form_row(form.submit, { label: 'Step 4', value: 'Add me to the list!', attr: { class: 'button' } }) }}
        </fieldset>
    {{ form_end(form) }}
</section>
